<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connl" connectionString="fafddsfads" providrName="abc" />
		<add name="conntest" connectionString="333" providrName="sqlserver" />
	</connectionStrings>
	<appSettings>
		<add key="name" value="yzk"/>
		<add key="age" value= "10"/>
		<add key="proxy.address" value="yl"/>
		<add key="proxy.port" value="102"/>
	</appSettings>
</configuration>